<section id="user-children">
	<% if @user.children != 0 %>
		<h1>Step 1 - Child</h1>
		<p>Add A New Child Or Select one Below</p>
			<ul>
				<% @children.each do |c| %>
		      <li><%= link_to c.child_name, user_child_path(@user, c) %> <%= link_to 'Edit', edit_user_child_path(@user, c), class: 'button delete-button' %> <%= link_to 'Delete', user_child_path(@user, c), method: :delete, class: 'button delete-button', data: { confirm: 'Are you sure you want to delete this child?' } %></li>
		    <% end %>
	    </ul>
	<% else %>
		<h1>Please Add A Child</h1>
	<% end %>
	<p><%= link_to 'Add Child', new_user_child_path, class: 'button' %></p>
</section>
