<h1>Step 2 - Gallery</h1>
<p>Create a new gallery, or select one below</p>

<ul>
	<% @galleries.each do |g| %>
    <li><%= link_to g.gallery_name, user_child_gallery_path(@user, @child.id, g.id) %></li>
  <% end %>
</ul>

<p><%= link_to 'Add Gallery', new_user_child_gallery_path(@user, @child), class: 'button' %></p>
