<h1>Current Galleries for <%= @child.child_name %></h1>

<ul>
	<% @child.galleries.each do |g| %>
    <li><%= link_to g.gallery_name, gallery_path(g) %> <%= link_to 'Edit Gallery', edit_gallery_path(:id => g.id), class: 'button delete-button' %></li>
  <% end %>
</ul>

<p><%= link_to 'Add Gallery', new_gallery_path(:child_id => @child.id), class: 'button' %></p>
