<div class="form-container">
<h1>Add Child</h1>
  <%= form_for @child, url: all_children_path do |f| %>
    <div class="input-field">
      <%= f.text_field :child_name, placeholder: "Child's Name" %>
    </div>
    <div class="float-fix">
	    <%= f.submit "Add Child", class: "button submit-button right" %>
	    <%= link_to 'Cancel', :back, class: 'button cancel-button right' %>
    </div>
  <% end %>
</div>
