<h1>Galleries for <%= @child.child_name %></h1>
<h3>Add a new gallery, or select one below</h3>

<ul>
	<% @galleries.each do |g| %>
    <li><%= link_to g.gallery_name, user_child_gallery_path(@user, @child.id, g.id) %> </li>
  <% end %>
</ul>

<p><%= link_to 'Add New Gallery', new_user_child_gallery_path(@user, @child), class: 'button' %></p>
