<div class="form-container">

	<h1>Add A Gallery</h1>

	<%= form_for ([@user, @child, @gallery]) do |f| %>
    <div class="input-field">
      <%= f.text_field :gallery_name, placeholder: "Gallery Name" %>
    </div>
    <div class="float-fix">
	    <%= f.submit "Add Gallery", class: "button submit-button right" %>
	    <p><%= link_to 'Cancel', :back, class: 'button cancel-button right' %></p>
    </div>
	<% end %>

</div>
