<section id="photo">
	<h1 class="photo-header">Step 3 - Photo</h1>
	<% if current_user == @child.user %>
		<p><%= link_to 'Add New Photo', new_user_child_gallery_photo_path(@user, @child, @gallery), class: 'button' %></p>
	<% end %>
</section>
