// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#photo {
	max-width: 600px;
	text-align: center;
	padding: 0;
	margin: 60px auto 0;
}

.photo-header {
	margin-bottom: 30px;
}
