// Place all the styles related to the user_photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#all-photos {
	text-align: center;
	padding: 0;
	margin: 60px auto;
}

ul.all-photos-list {
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 20px auto 15px;
}

ul.all-photos-list li {
	display: inline-block;
	max-width: 180px;
	font-size: 20px;
	font-weight: bold;
	padding: 0;
	margin: 0 30px 0;
}

.buttons {
	margin-top: 10px;
}
